.page-container{
    display: grid;
}
body{ 
   margin: 0px;
   background:rgba(235, 243, 233, 0.87);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
.hed{
    background: rgba(157, 177, 136, 0.5);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 2fr 1fr;
    margin: 0px;
}
.search{
    height: 150px;
    width: auto;
    display: grid;
    grid-template-columns: 2fr 4fr 12fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin: 0px;
    padding: 1px;

}
.menu{
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 2fr 2fr 1fr 1fr 1fr;
    margin: 0px;
    padding: 0px;
    background: rgba(45, 112, 43, 0.59);
  
}
.main{
    display: grid;
    grid-template-columns: 6fr 9fr 4fr 3fr;
    grid-template-rows: repeat(7, 0.1fr) repeat(2, 1fr);
    
    
}
.footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(9, 0.1fr);
}
.image1{
    width: 15px;
    height: auto;
    display: inline;
    margin-top: auto;
    margin-left: auto;
}
.tel{
    width: 25px;
    height: auto;
    display: inline;
    white-space: nowrap;
    font-family: Nunito;

}
.image2{
    grid-column-start: 2;
    width: 15px;
    height: auto;
    display: inline;
    margin-top: auto;
    margin-left: auto;
}
.pocta{
    width: 25px;
    height: auto;
    display: inline;
    grid-column-start: -5;
    grid-column-end:  -4;
    white-space: nowrap;
    font-family: Nunito;
}

.adres{
    grid-column-start: 5;
    white-space: nowrap;
    font-family: Nunito;
}

.adress{
    white-space: nowrap;
    font-family: Nunito;
}

.image3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    height: 100%;
    display: inline-block;
    margin-left: 15px;
}
.menu1{
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    color:white;
    font-family: Nunito;
    font-size: 20px;
    text-align:center;
    
}
.menu2{
    grid-row-start: 2;
    width: 100%;
    height: 100%;
    color:white;
    font-family: Nunito;
    font-size: 20px;
    text-align:center;
}
.menu3{
    grid-row-start: 3;
    width: 100%;
    height: 100%;
    color:white;
    font-family: Nunito;
    font-size: 20px;
    text-align:center;
}
.menu4{
    grid-row-start: 4;
    width: 100%;
    height: 100%;
    color:white;
    font-family: Nunito;
    font-size: 20px;
    text-align:center;
}
.menu5{
    grid-row-start: 5;
    width: 100%;
    height: 100%;
    color:white;
    font-family: Nunito;
    font-size: 20px;
    text-align:center;
}
.menu6{
    grid-row-start: 6;
    width: 100%;
    height: 100%;
    color:white;
    font-family: Nunito;
    font-size: 20px;
    text-align:center;
}

a{
    text-decoration: none;
}
.menu7{
    grid-row-start: 7;
    width: 100%;
    height: 100%;
    color:white;
    font-family: Nunito;
    font-size: 20px;
    text-align:center;
}
.menu8{
    grid-row-start: 8;
    width: 100%;
    height: 100%;
    color:white;
    font-family: Nunito;
    font-size: 20px;
    text-align:center;
}
.menu9{
    grid-row-start: 9;
    width: 100%;
    height: 100%;
    color:white;
    font-family: Nunito;
    font-size: 20px;
    text-align:center;
}
.name1{
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-weight: bold;
    text-decoration-line: underline;
    font-family: Nunito;
}

.name2 {
    grid-row-start: 3;
    grid-row-end: 6;
    text-align: center;
    font-weight: bold;
    font-family: Nunito;
}
.image4{
    width: 35px;
    height: 20px;
    grid-column-start: 5;
    grid-row-start: 2; 
}
.image5{
    width: 35px;
    height: 20px;
    grid-column-start: 6;
    grid-row-start: 2;
}
.image6{
    width: 35px;
    height: 20px;
    grid-column-start: 7;
    grid-row-start: 2;
}
.input{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;  

}
.image7{
    grid-column-end: 5;
    grid-row-start: 3;
}
.image8{
    width: 100%;
    height: 600px;
    align-self: center;
   
}
.meniu{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1; 
    font-family: Nunito;
}
.m1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2; 
    
}
.m2{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3; 
    
}
.m3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4; 
    
}
.m4{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5; 
    
}
.m5{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6; 
    
}
.image9{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 10; 
    height: 100%;
    width: 90%;
    align-self: center;
    
    
}
.image10{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9; 
    
}
.image11{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8; 
    
}
.image12{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7; 
    justify-self: left;
   width: 170%;
   height: 100%;
  
    
}
.image20{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 7; 
    justify-self: right;
    width: 60% ;
    height: 100%;
    
    
}
.image13{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10; 
    
}
.texts{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9; 
    
}
.text1{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1; 
    
}
.text2{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5; 
    
}
.text3{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5; 
    
}
.image14{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8; 
    
}
.image15{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9; 
    
}
.image16{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10; 
    
}
.f1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}
.f2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.image17{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 100%;
}
.f3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.image18{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 40px;
    height: auto;
}
.meniu{
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.menu10{
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    font-size: 15px;
    text-align: left;
    margin-left: 7px;
}
.menu11{
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    font-size: 15px;
    text-align: left;
    margin-left: 7px;
}
.menu12{
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    font-size: 15px;
    text-align: left;
    margin-left: 7px;
}
.menu13{
    grid-row-start: 5;
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    font-size: 15px;
    text-align: left;
    margin-left: 7px;
}
.menu14{
    grid-row-start: 6;
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    font-size: 15px;
    text-align: left;
    margin-left: 7px;

}
.texts{
    grid-row-start: 7;
    grid-row-end: 10;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    text-align: left;
    margin-right: 30px;
}
.t1{
    
    font-size: 25px;
    font-weight: bold;
    margin-right: 30px;
    
}
.t3{
    color:blue;
    margin-right: 30px;
}
.text1{
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.text2{
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    text-align: left;
    font-size: 15px;
    margin-left: 20px;
}
.text3{
    grid-column-start: 4;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    text-align: left;
    font-size: 14px;
    margin-left: 20px;
}
.text4{
    grid-column-start: 4;
    grid-row: 4/5;
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    text-align: left;
    font-size: 14px;
    margin-left: 20px;
}
.text5{
    grid-column-start: 4;
    grid-row: 5/6;
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    text-align: left;
    font-size: 14px;
    margin-left: 20px;
}
.text6{
    grid-column-start: 4;
    grid-row: 6/7;
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color:  rgba(157, 177, 136, 0.5);
    vertical-align: bottom;
}
.lines {
    margin-top: 10px;
    border-top: 1px solid rgba(221, 217, 217, 0.795);
    height: 10px;
}
.f1{
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    color:rgb(10, 10, 10);
    font-family: Nunito;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
   
}
.f4{
    grid-column-start: 1;
    grid-row-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    text-align: left;
    font-size: 15px;
    color: blue;

}
.f5{
    grid-column-start: 1;
    grid-row-start: 3;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    text-align: left;
    font-size: 15px;
    color:rgb(10, 10, 10);
    font-weight: bold;

}
.f6{
    grid-column-start: 1;
    grid-row-start: 4;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    text-align: left;
    font-size: 15px;
    color: blue;

}
.f7{
    grid-column-start: 1;
    grid-row-start: 5;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    text-align: left;
    font-size: 15px;
    color:rgb(10, 10, 10);
    font-weight: bold;

}
.f8{
    grid-column-start: 1;
    grid-row-start: 6;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    text-align: left;
    font-size: 15px;
    color: blue;

}
.f9{
    grid-column-start: 1;
    grid-row-start: 7;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    text-align: left;
    font-size: 15px;
    color:rgb(10, 10, 10);
    font-weight: bold;

}
.f10{
    grid-column-start: 1;
    grid-row-start: 8;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    text-align: left;
    font-size: 15px;
    color: blue;

}
.f2{
    grid-column-start: 2;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 15px;
    color:rgb(10, 10, 10);
    font-weight: bold;
    text-align: center;
}
.f11{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 15px;
    color:rgb(10, 10, 10);
    text-align: center;
}
.f3{
    grid-column-start: 3;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 15px;
    color:rgb(10, 10, 10);
    text-align: center;
}
.image18{
    grid-column-start: 3;
    grid-row-start: 1;
    width: 30px;
    height: 20px;
    justify-self: right;

}
.news{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: repeat(20, 0.3fr);
}
.n1{
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 20px;
    color:rgb(10, 10, 10);
    text-align: center;
    font-weight: bold;
}
.image21{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    width: 100%;
}
.n2{
    grid-row-start: 2;
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 20px;
    color:rgb(10, 10, 10);
}
.n3{
    grid-row-start: 3;
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 10px;
    color:rgb(10, 10, 10);
}
.n4{
    grid-row-start: 4;
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 15px;
    color:rgb(10, 10, 10);
}
.image22{
    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-start: 1;
width: 100%;

}
.n5{
    grid-row-start: 5;
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 20px;
    color:rgb(10, 10, 10);
}
.n6{
    grid-row-start: 6;
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 10px;
    color:rgb(10, 10, 10);
}
.n7{
    grid-row-start: 7;
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 15px;
    color:rgb(10, 10, 10);
}
.n8{
    grid-row-start: 8;
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 15px;
    color:rgb(10, 10, 10);
}

.image23{
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 1;
    width: 100%;
}
.n9{
    grid-row-start: 9;
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 20px;
    color:rgb(10, 10, 10);
}
.n10{
    grid-row-start: 10;
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 10px;
    color:rgb(10, 10, 10);
}
.n11{
    grid-row-start: 11;
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 15px;
    color:rgb(10, 10, 10);
}
.orar12{
    background:#25975A;
    color:white;
    border: 1px solid white;
    width: 5%;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 15px;
    
 }
 .orartable{
    grid-column-start: 1;
    grid-row-start: 3;
     width: 530px;
     align-self:center;
     margin-left: 10px;
     
 }
 .time{
     height:60px;
     width: 60px;
 }
 tr{
    height:30px;

  }
  td{
    font-size: 0.8em;
    border: 1px solid black;
    background-color: rgb(136, 204, 184);
  }
  tr{
    height: 2px;
  }
.time1{
    color:rgb(0, 0, 0);
    border: 1px solid white;
    width: 15%;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 15px;
}
.Recriatie{
    color:rgb(0, 0, 0);
    border: 1px solid white;
    width: 15%;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 15px;
}
.s1{
    grid-column-start: 1;
    grid-row-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 20px;
    color:rgb(10, 10, 10);
    font-weight: bold;
    align-self: center;
    margin-left: 10px;
}
.Schedule{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.01fr 0.07fr 1fr 0.01fr 0.07fr 1fr 1fr;
}
.s2{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 20px;
    color:rgb(10, 10, 10);
    font-weight: bold;
    align-self: center;
    margin-left: 10px;
}
.orartable1{
    grid-column-start: 2;
    grid-row-start: 3;
     width: 530px;
     align-self:center;
     margin-left: 10px;
}
.s3{
    grid-column-start: 1;
    grid-row-start: 5;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-size: 20px;
    color:rgb(10, 10, 10);
    font-weight: bold;
    align-self: center;
    margin-left: 10px;
}
.orartable2{
    grid-column-start: 1;
    grid-row-start: 6;
     width: 530px;
     align-self:center;
     margin-left: 10px;
}